body {
background-color: #eeeeee
}
/******************TAG SELECTORS******************/
h1 {
  color: #f69e7b;
  font-size: 140px

}
p{
  color: red;
}

/*
img {
background-color: #f69e7b;
}
*/
/*******************************CLASS SELECTORS***************************/
.bacon {
background-color: green;
}
.broccoli {
  background-color: red;
}
p.First bacon {
  background-color: green;
}
